@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

/* Theme variables */
:root {
  --primary: #a456f7;
  --primary-dark: #8b44d9;
  --primary-light: #c084fc;
  --secondary: #3d81f6;
  --secondary-dark: #2b71ec;
  --secondary-light: #60a5fa;
  --accent: #e6ccff;
  --text: #2d2535;
  --text-dark: #1a1a1a;
  --bg: #f8f6fa;
  --bg-dark: #242124;
  --border: #d4c5e2;
  --border-dark: #80609f;
}

.dark {
  --text: #ffffff;
  --text-dark: #f3f4f6;
  --bg: #1a1a1a;
  --bg-dark: #0a0a0a;
  --border: #3730a3;
  --border-dark: #312e81;
}

/* Scrollbar styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
